{% set latest = '0.4.0' %}

<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="robots" content="noindex, nofollow">
  <title>
  {% if title %}
  {{ title }}. An NHS Digital prototype
  {% else %}
  An NHS Digital prototype
  {% endif %}
  </title>

  <!-- Styles -->
  <link rel="stylesheet" href="https://nhsuk.github.io/nhsuk-frontend/assets/nhsuk.css">
  <link rel="stylesheet" href="css/styles.css">

  <!-- Scripts -->
  <script src="https://nhsuk.github.io/nhsuk-frontend/assets/nhsuk.js" defer></script>
  <script src="js/jquery-3.3.1.min.js"></script>

  <!-- Favicons -->
  <!--[if IE]><link rel="shortcut icon" href="assets/favicons/favicon.ico"><![endif]-->
  <link rel="apple-touch-icon" href="assets/favicons/apple-touch-icon.png">
  <link rel="icon" href="assets/favicons/favicon.png">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script>
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#000"
      },
      "button": {
        "background": "#f1d600"
      }
    },
    "position": "top",
    "static": true
  })});
  </script>
</head>

<body class="{{ body_class }}">

  <div class="nhsuk-success-banner" id="successbanner" aria-label="Success message banner" role="banner">
    <div class="nhsuk-width-container">
      <p>Your cookie settings have been saved.</p>
    </div>
  </div>

  {% include 'partials/_header.njk' %}

  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Cookies</a></li>
          </ol>
          <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/">Cookies</a></p>
        </div>
      </nav>

    <div class="nhsuk-width-container">
      <main class="nhsuk-main-wrapper" id="maincontent">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </main>
    </div>

  {% include 'partials/_footer.njk' %}

</body>
</html>
