{% extends "layout.njk" %}
{% set title = 'Manage cookies' %}
{% set body_class = 'page' %}


{% block content %}
<h1>Cookies on the NHS website</h1>
<p>Cookies are files saved on your phone, tablet or computer when you visit a website.</p>
<p>They store information about how you use the website, such as the pages you visit.</p>
<p>Cookies are not viruses or computer programmes. They are very small so do not take up much space.</p>



<div class="nhsuk-panel nhsuk-u-padding-bottom-1">
    <div class="nhsuk-form-group nhsuk-u-margin-bottom-0">
      <fieldset class="nhsuk-fieldset" id="cookie-preferences-form" aria-describedby="cookie-preferences">
        <h2>Turn cookies on or off</h2>
        <p>We use 4 main types of cookie on our website. You can choose which cookies you're happy for us to use.</p>

        <h3>Cookies that make the website work better</h3>
        <p>These cookies <span class="highlight">always need to be on and</span> do things like keep the website secure <span class="highlight">and free from attacks</span>.</p>

        <!--<div class="nhsuk-radios nhsuk-radios--inline nhsuk-u-margin-bottom-6">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-1" name="example1" type="radio" value="on" checked="">
            <label class="nhsuk-label nhsuk-radios__label" for="example-1">
              On
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-2" name="example1" type="radio" value="yes">
            <label class="nhsuk-label nhsuk-radios__label" for="example-2">
              Off
            </label>
          </div>
        </div>-->


        <h3>Cookies that remember your settings</h3>
        <p>These cookies do things like remember pop-ups you’ve seen, so you're not shown them again.</p>
        <div class="nhsuk-radios nhsuk-radios--inline nhsuk-u-margin-bottom-6">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-3" name="example2" type="radio" value="on" checked="">
            <label class="nhsuk-label nhsuk-radios__label" for="example-3">
              On
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-4" name="example2" type="radio" value="yes">
            <label class="nhsuk-label nhsuk-radios__label" for="example-4">
              Off
            </label>
          </div>
        </div>


        <h3>Cookies that measure website use</h3>
        <p>These cookies store information about how you use our website, such as what you click on.</p>
        <div class="nhsuk-radios nhsuk-radios--inline nhsuk-u-margin-bottom-6">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-5" name="example3" type="radio" value="on" checked="">
            <label class="nhsuk-label nhsuk-radios__label" for="example-3">
              On
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-6" name="example3" type="radio" value="yes">
            <label class="nhsuk-label nhsuk-radios__label" for="example-4">
              Off
            </label>
          </div>
        </div>


        <h3>Cookies that help with health campaigns</h3>
        <p>These cookies do things like tell us if you've seen our adverts on social media, such as
          Facebook or Twitter.</p>
        <div class="nhsuk-radios nhsuk-radios--inline nhsuk-u-margin-bottom-6">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-7" name="example4" type="radio" value="on" checked="">
            <label class="nhsuk-label nhsuk-radios__label" for="example-3">
              On
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-8" name="example4" type="radio" value="yes">
            <label class="nhsuk-label nhsuk-radios__label" for="example-4">
              Off
            </label>
          </div>
        </div>

      </fieldset>
      <button onclick="changeConsent()" type="submit" class="nhsuk-button">
          Save
      </button>
      <p><a href="index-2.html">More details about our cookies</a></p>
    </div>
  </div>

{% endblock content %}
