{% extends "layout.njk" %}
{% set title = 'Manage cookies' %}
{% set body_class = 'page' %}


{% block content %}
<h1>Manage your cookie settings</h1>
<p>We’ve placed some small files called cookies on your device. We use four types of cookies. <a href="#">See all cookies and usage</a> or change your settings below.</p>



<div class="whitebg">

<ol>
  <li>
    <p><strong>Essential cookies</strong></p>
    <p>These cookies are needed to run our website, to keep it secure, and to obey regulations that apply to us.</p>
  </li>
  <li>
    <p><strong>Site preferences</strong></p>
    <p>These types of cookies measure how you use the website, like where you click. We use this information to improve our services.</p>
  </li>
  <li>
    <p><strong>Website usage</strong></p>
    <p>These types of cookies measure how you use the website, like where you click, so it can be updated and improved based on your needs.</p>
  </li>
  <li>
    <p><strong>Health campaigns</strong></p>
    <p>Our trusted partners would like to set cookies that allow us to see how you’re personally using social media. We need your explicit permission for this.</p>
  </li>
</ol>

</div>

{% endblock content %}
