/*********************
  Includes
**********************/
@import "utilities/colours";
@import "utilities/fonts";
/*********************/



//Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {font-size: 1em; /*16px*/ height: 100%;}
body {
  min-height: 100%;
  min-width: 100%;
}


// Karl's css
.whitebg {
  background: white;
  padding: 2em 2em;
}
ol {
  padding-top: 1em;
}


.nhsuk-cookie-banner {
    background: #fff;
    position: relative;
    box-shadow: 0 0 4px 0 #000;
    padding: 24px 0 24px 0;
    width: 100%;
    z-index: 1;

    p {margin: 0;}

    ul {
      list-style: none;
      padding: 0;
      margin: 8px 0 0 0;

      li {
        display: inline;
        margin-right: 20px;
      }
    }
}
.nhsuk-success-banner {
  background-color: #007f3b;
  color: #fff;
  padding: 8px 0 8px 0;
  position: relative;

  p {margin: 0;}
}




@media (max-width: 768px) {
    thead {
      position: absolute;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px; width: 1px;
      margin: -1px; padding: 0; border: 0;
    }
    tr {
      border-bottom: solid 2px #d8dde0;
      display: block;

      &:last-child {
        border-bottom: 0;
      }
    }
    td {
      border-bottom: 1px dotted #d8dde0;
      display: block;
      text-align: left;

      &:last-child {
        border-bottom: 0;
      }

      &::before {
        content: attr(data-label);
        display: block;
        font-weight: bold;
        padding-right: 20px;
      }
    }

    //Cookies!
    .nhsuk-cookie-banner ul li {display: block;}

    .nhsuk-grid-column-full-width {
      padding: 0 16px;
    }

  }
