/*********************
  Includes
**********************/
@import "utilities/colours";
@import "utilities/fonts";
/*********************/



//Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {font-size: 1em; /*16px*/ height: 100%;}
body {
  min-height: 100%;
  min-width: 100%;
}


// Karl's bullshit
.whitebg {
  background: white;
  padding: 2em 2em;
}
ol {
  padding-top: 1em;
}

@media (max-width: 768px) {

    thead {
      display: none;
    }

    tr {
      border-bottom: solid 2px #d8dde0;
      display: block;

      &:last-child {
        border-bottom: 0;
      }
    }

    td {
      border-bottom: 1px dotted #d8dde0;
      display: block;
      text-align: left;

      &:last-child {
        border-bottom: 0;
      }

      &::before {
        content: attr(data-label);
        display: block;
        font-weight: bold;
        padding-right: 20px;
      }
    }
  }
